.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* signup-page */

.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.signup-form {
  flex: 1;
  max-width: 600px;
  border-radius: 10px;
  border: 1px solid #999;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
}

.signup-form_row {
  display: flex;
  flex-direction: row;
}

.signup-form_group {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px 5px;
}
.signup-form_group__button-box {
  flex: 1;
  display: flex;
  margin-top: 3rem;
}

label {
  font-family: "Rubik", sans-serif;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
}

.signup-form_field {
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  outline: none;
}

.button {
  padding: 1.25rem 2.5rem;
  text-transform: uppercase;
  border-radius: 5rem;
  background-color: rgb(218, 216, 216);
  color: black;
  border: none;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 1;
  display: block;
}

.navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 5rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  background-color: azure;
}

.navigation_nav {
  width: 100%;
}

.navigation_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navigation_item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f037a5;
}

.navigation_svg {
  width: 2rem;
  height: 2rem;
}

.navigation_item_title {
  margin-top: 0;
  color: #323edd;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
}

.admin-basvuru {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-page {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  border: 1px solid #999;
  background-color: rgb(255, 255, 255);
  width: 70%;
  min-height: 20rem;
}

.application-list__box {
  display: flex;
  flex-direction: column;
}

.application-list__items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-page__user {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 10px;
  border: 1px solid #999;
  background-color: rgb(255, 255, 255);
  width: 70%;
  min-height: 20rem;
}

.user-page__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
  text-align: left;
}

.error {
  color: red;
}

@media only screen and (max-width: 500px) {
  .signup-form_row {
    flex-direction: column;
  }
}
